.add-user-popup {
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s, color 0.3s;
    z-index: 3;
}

.add-user-popup .add-user-popup-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 4;
}

.add-user-popup .add-user-popup-content h2 {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
  user-select: none;
}

.add-user-popup .add-user-popup-content label {
  display: block;
  margin-bottom: 15px;
  font-size: 16px;
  user-select: none;
}

.add-user-popup .add-user-popup-content label input {
  width: 100%;
  padding: 8px;
  border: 1px solid;
  border-radius: 5px;
  margin-top: 5px;
  transition: border-color 0.3s;
}

.add-user-popup .add-user-popup-content label input:hover {
  border-color: #f8c630;
  height: 50px;
  transition: border-color 0.3s;
}

.add-user-popup .add-user-popup-content label input[type="file"] {
  margin-top: 10px;
  transition: border-color 0.3s;
}

.add-user-popup .add-user-popup-content label input[type="file"]:hover {
  border-color: #f8c630;
  height: 50px;
  transition: border-color 0.3s;
}

.add-user-popup .add-user-popup-content label input::file-selector-button {
  background-color: #f8c630;
  font-weight: bold;
  color: #2b2929;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: font-size 0.3s, background-color 0.3s;
}

.add-user-popup .add-user-popup-content label input::file-selector-button:hover {
  background-color: #fcae24;
  font-size: 20px;
  transition: font-size 0.3s, background-color 0.3s;
}

.add-user-popup .add-user-popup-content button {
  background-color: #f8c630;
  color: #2b2929;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  margin-right: 10px;
  transition: font-size 0.3s, background-color 0.3s, color 0.3s;
  margin-top: 30px;
  user-select: none;
}

.add-user-popup .add-user-popup-content button:hover {
  background-color: #fcae24;
  font-size: 25px;
  transition: font-size 0.3s, background-color 0.3s, color 0.3s;
}

.add-user-popup .add-user-popup-content button:last-child {
  background-color: #ccc;
}

.add-user-popup .add-user-popup-content button:last-child:hover {
  background-color: #ababab;
}

.dark-mode .add-user-popup .add-user-popup-content {
  background-color: #2b2929;
  color: #fff;
}

.dark-mode .add-user-popup .add-user-popup-content label input {
  background-color: #2b2929;
  color: #fff;
  border-color: #fff;
  transition: border-color 0.3s;
}

.dark-mode .add-user-popup .add-user-popup-content label input:hover {
  border-color: #f8c630;
  transition: border-color 0.3s;
}

.light-mode .add-user-popup .add-user-popup-content {
  background-color: #fff;
  color: #2b2929;
}